<% if @alerts.any? %>
  <h1>New Relic Alerts</h1>
  <% @alerts.each do |alert| %>
    <% payload = alert.payload %>
    <div>
      <h3><%= alert.created_at %>: <%= payload['severity'].to_s.upcase %> of <%= payload['application_name'] %></h3>
    <p><%= payload['message'] %> <%= payload['long_description']%></p>
    <p><a href="<%= payload['alert_url'] %>">View alert</a></p>
  </div>
  <hr/>
  <% end %>
<% end %>
